body{
    margin: 0;
    height: 100%;
    font-family: "Poppins",sans-serif;
}
section{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
}
header{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-right: 40px;
    width: 78px;
}

nav{
    display: flex;
    flex-direction: column;
    padding: 159px 0;
    gap: 13px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 58px;
}
.co{
    background: linear-gradient(to left, #e4edfe, #fff);
    /* padding: 17px 27px; */
    
}

.mainbox{
    width: 100%;
    height: 100%;
    background-color:#f9f9f9;
    margin-right: 40px;
}
.logoarea{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.notification{
    margin: 10px 0px;
    width: 100%;
    max-width: 498px;
    height: 52px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.notification input{
    width: 294px;
    height: 52px;
    border: 10px;
    border-radius: 10px;
    padding: 0;
}
input::placeholder{
    font-size: 16px;
}
.search{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
}
.search img{
    width: 100%;
    height: 100%;
    max-width: 24px;
    max-height: 24px;
    margin: 14px 20px;
}
.avt{
    width:100%;
    max-width: 52px;
    height: 100%;
    border-radius: 10px;

}
#avt{
    object-fit: cover;
}
.slogan{
    display: flex;
    height: 72px;
    width: 233px;
    flex-direction: column;
    gap: 12px;
}
.acc_main{
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 198px;
}
.user{
    font-size: 24px;
    font-weight: 500;
}
.user_mail{
    font-size: 16px;
    font-weight: 400;
    color: #7d7d7d;
}
.welcome{
    font-size: 24px;
    font-weight: 500;
    color: #3E435D;
}
.date{
    font-size: 16px;
    font-weight: 400;
    color: #d1d1d2;
}
.main{
    /* background-color: aquamarine; */
    background-color: #fff;
    width: 100%;
    max-width: 8000px;
    height: 856px;
    max-height: 100%;
    margin: 32px 0px;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 71px;
}
.color img{
    width: 100%;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px 30px 32px;
}
.account{
    display: flex;
    align-items: center;
    gap: 24px;
}
.button{
    background-color: #4182f8;
    width: 93px;
    height: 44px;
    border-radius: 8px;
    align-content: center;
    text-align: center;
    margin-right: 32px;
}
.button a{
    text-decoration: none;
    color: white;
}

.multip{
    width: 100%;
    max-width: 8000px;
    height: 100%;
    max-height: 523px;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 4000px));
    gap: 25px;
}

.boxmul{
    padding: 0px 32px;
}
.item_content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background-color: #f4f4f4;
}
.item_content p,
.item_content img{
    margin: 14px 20px;
    color: #cececf;
}
.email{
    margin:32px;
    display: grid;
    grid-template-columns: repeat(1, minmax(100px ,266px));
    gap: 26px;
}
.email p{
    margin: 0;
}

.boxemail{
    display: flex;
    gap: 20px;
}

#blur{
    color: #8a8a8a;
}
.add{
    background-color: #ecf2fe;
    color: #4182F9;
    width: 209px;
    height: 44px;
    align-content: center;
    text-align: center;
    border-radius: 8px;
}
